body {
  background-image: url(https://images.pexels.com/photos/2931915/pexels-photo-2931915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px 740px;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid;
  height: 742px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  display: block;
  bottom: -10px;
  position: relative;
}

h2 {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  font-size: 110px;
  top: -82px;
  display: block;
  font-weight: bold;

  position: relative;
}
h3 {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  list-style: none;
  text-align: center;
  font-size: 16px;
  top: -90px;
  display: block;
  position: relative;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

ul {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  text-align: center;
  font-size: 25px;
  list-style: none;
  position: relative;
  display: block;
  top: -90px;
}
li:first-letter {
  text-transform: capitalize;
}

.col {
  font-size: 10px;
  text-align: center;
  display: block;
  position: relative;
  top: -120px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
}

.units {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  display: block;
  position: relative;
  left: 70px;
  bottom: 100px;
}

.weather-forecast {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  display: block;
  text-align: center;
  top: -50px;
  position: relative;
}

.weather-temperature-date {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  font-size: 15px;

  color: black;
  text-align: center;
  font-weight: bold;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: rgb(34, 32, 32);
  font-weight: lighter;
}

.weather-forecast-temperature {
  font-size: 12px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
}
.footer {
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  font-size: 13px;
  top: -90px;
  position: relative;
  right: 1px;
}
.weather-app-wrapper {
  max-width: 350px;
  margin: 5px auto;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Serif", serif;
  top: 15px;
  position: relative;
  color: black;
  font-size: 10px;
  right: 100px;
}

.card-body {
  height: 60px;
}
.card-title {
  font-size: 15px;
  top: -10px;
}

.card {
  width: 170px;
  position: relative;
  left: 50px;
  top: 80px;
}

.city-input {
  font-size: 10px;
}

.weather-img {
  position: relative;
  display: block;
  bottom: -10px;
  left: 130px;
}
